<!-- RESOURCE FROM https://codepen.io/ahmedbeheiry/pen/jBYQNy --!>
<html>

<head>
	<title> SPE Admin Page </title>
	<script src="/static/js/admin.js"></script>
</head>
<body>
 예시 ssh 키 : asd123ajstsjethkjh2jk5j2 </br>
 ------------------------------------- </br>
 관리자 공지사항 : 예시문 </br>
</body>
</html>
