<!-- RESOURCE FROM https://codepen.io/ahmedbeheiry/pen/jBYQNy --!>
<html>

<head>
	<title> SPE Admin Page </title>
	<script src="/static/js/admin.js"></script>
</head>
<body>
 이건 솔직히 그냥 공지글같이 생긴거 몇개 적고 </br>
 키 다운받을 수 있게만 해주면 되니까 </br>
 더 안합니다 </br>

 사실 ssh 키라서 그냥 문자열로 여기 띄워줘도 됨 ㅋㅋㅋ </br>
</body>
</html>
