<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Python Lecture</title>
	<link rel="stylesheet" type="text/css" href="/static/css/lecture.css">
</head>
<body>
  <div id="content">
	  <%- MDSRC %>
  </div>
  <div id="sidebar">
	<form action="/testing" method="post" id="UserCode">
		<input name="no" readonly type="text" value="<%= NUMBER %>"></input>
    	<textarea name="usercode" style="width: 90%; height: 700px "></textarea>
	<button type="submit" form="UserCode"> TEST! </button>
	</form>
  </div>
</body>
</html>
