<!-- RESOURCE FROM https://codepen.io/davinci/pen/YxwwWd --!>
<html>

<head>
	<title> SKKU Python Education System </title>
	<link rel="stylesheet" type="text/css" href="/static/css/register.css">
</head>
<body>
	<form class="login" action="/adduser" method="post" id="Reg">
	  <p><b> Welcome to Python Education System! </b></p>
	  <input name="info1" type="text" placeholder="Info1" >
	  <input name="info2" type="text" placeholder="Info2" >
	  <input name="id" type="text" placeholder="Username" >
	  <input name="pwd1" type="password" placeholder="Password" >
	  <input name="pwd2" type="password" placeholder="Password Again" >
	  <button type="submit" form="Reg">JOIN SKKU Python Education</button>
	  <button type="button" onclick="location.href='/main'">Back to Login Page</button>
	</form>
</body>


</html>
