<html>

<head>
	<title> SPE Classes </title>
	<link rel="stylesheet" type="text/css" href="/static/css/class.css">
</head>
<body>

<div class="container">
  <h1 class="title">Python Lectures</h1>
  <ul>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">Lecture 1. Basics</a>
      <ul class="dropdown-menu">
        <li><a href="/lecture?no=118">Step 1. A</a></li>
        <li><a href="/lecture?no=119">Step 2. B</a></li>
        <li><a href="/lecture?no=120">Step 3. C</a></li>
        <li><a href="/lecture?no=121">Step 4. D</a></li>
        <li><a href="/lecture?no=122">Step 5. E</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">Lecture 2. Advanced</a>
      <ul class="dropdown-menu">
        <li><a href="#">Step 1. A</a></li>
        <li><a href="#">Step 2. B</a></li>
        <li><a href="#">Step 3. C</a></li>
        <li><a href="#">Step 4. D</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">Lecture 3. Communication</a>
      <ul class="dropdown-menu">
        <li><a href="#">Step 1. X</a></li>
        <li><a href="#">Step 2. Y/a></li>
        <li><a href="#">Step 3. Z</a></li>
        <li><a href="#">Step 4. K</a></li>
      </ul>
    </li>
  </ul>
</div>

</body>
</html>
