<html>

<head>
  <title> SPE Classes </title>
  <link rel="stylesheet" type="text/css" href="/static/css/class.css">
</head>

<body>

  <div class="container">
    <h1 class="title">Python Lectures</h1>
    <ul>
      <li class="dropdown">
        <input type="checkbox" />
        <a href="#" data-toggle="dropdown">Lecture 1. Basics</a>
        <ul class="dropdown-menu">
          <li><a href="/lecture?no=111">Step 1. 변수와 자료형</a></li>
          <li><a href="/lecture?no=112">Step 2. 자료형과 연산</a></li>
          <li><a href="/lecture?no=113">Step 3. boolean 연산</a></li>
          <li><a href="/lecture?no=114">Step 4. 입출력</a></li>
          <li><a href="/question_lecture?no=115">Step 5. 문제</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <input type="checkbox" />
        <a href="#" data-toggle="dropdown">Lecture 2. Advanced</a>
        <ul class="dropdown-menu">
          <li><a href="/lecture?no=121">Step 1. 조건문</a></li>
          <li><a href="/lecture?no=122">Step 2. 리스트, 딕셔너리</a></li>
          <li><a href="/lecture?no=123">Step 3. 반복문</a></li>
          <li><a href="/lecture?no=124">Step 4. 함수</a></li>
          <li><a href="/question_lecture?no=125">Step 5. 문제</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <input type="checkbox" />
        <a href="#" data-toggle="dropdown">Lecture 3. Communication</a>
        <ul class="dropdown-menu">
          <li><a href="/lecture?no=131">Step 1. 멀티쓰레드</a></li>
          <li><a href="/socket_lecture?no=132">Step 2. 소켓</a></li>
          <li><a href="/socket_lecture?no=133">Step 3. Client, Server</a></li>
        </ul>
      </li>
    </ul>
  </div>

</body>

</html>