<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Judge API TEST</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="/nav/submit/jquery" class="nav-link">Write your code(Jquery)</a>
    </li>
    <li class="nav-item">
      <a href="/nav/submit/script" class="nav-link">Write your code(Script)</a>
    </li>
    <li class="nav-item">
      <a href="/nav/submit/multi" class="nav-link">Multiple</a>
    </li>
  </ul>
</nav>